/*@charset "ISO-8859-1";*/

/*INTEGRANTES QUE PARTICIPARON:
-RAMIREZ, Carla Daniela.
-JUAREZ, Marï¿½a Marta del Milagro.
-SALINAS, Federico Agustin.

*/

* {
	margin: 0px;
	padding: 0px;
}

body { /*SALINAS.FA*/
	font-family: "Asap", sans-serif;
	background-color: #fdfdfe;
	background-color: #FDEDEC;
}

header { /*JUAREZ,MMdelM*/
	background: yellow;
	height: 350px;
	overflow: hidden; /*cuando se desborda el resto del contenido se ocults*/
	background: url(../images/portada.jpg) no-repeat;
	background-size: cover;
	padding:auto;
	
}

@media screen and (max-width: 1140px) {
  header {
    background-image: none;
    padding:auto;
    height:auto;
  }
}

header h1 { /*JUAREZ,MMdelM*/
	color: transparent;
	text-align: center;
	font-size: 100px;
	text-shadow: 5px 3px 8px;
	-webkit-background-clip: text;
	background-clip: text;
	background-image: repeating-radial-gradient(farthest-side at 5px 5px, #553c9a, #ee4b2b,
		#553c9a);
}

nav { /*JUAREZ,MMdelM*/
	background-image: repeating-radial-gradient(farthest-side at 5px 5px, #553c9a, #ee4b2b,
		#553c9a);
	height: auto;
	
	width: 100%; 
 	margin: auto; 
 	padding: auto; 
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
	margin: 10 20px;
	
	text-decoration: none;
	color: white;
	font-family: "Asap", sans-serif;
	font-size: 1.2rem;
	
}

.navbar-nav {
  margin: 0 auto;
  display: table;
  table-layout: fixed;
  float: none;
}

/*tp5-dejo comentadas esta lineas del codigo, para que funcione el nav con bootstrap*/
/*----------------------------------------------------------------------------------*/
/*nav ul { /*JUAREZ,MMdelM 
  	width: 80%;  */
/*  	margin: auto;  */
/*  	padding: 20px 0;  */
/* 	display: flex; */
/* 	align-items: center; */
/* 	justify-content: space-between; */
/* 	list-style: none; */
/* 	margin: 10 20px; */
/*}*/

/* nav ul li a { JUAREZ,MMdelM */
/* 	text-decoration: none; */
/* 	color: white; */
/* 	font-family: "Asap", sans-serif; */
/* 	font-size: 1.2rem; */
/* } */

#section-1 { /*JUAREZ,MMdelM*/
	display: inline;
	width: calc(75% - 75px);
	min-height: 500px;
	background-color: auto;
	padding: 40px;
	margin: 20px;
}

aside { /*JUAREZ,MMdelM*/
	color: black;
	background-image: url(../images/Publicidad.jpeg);
	background-size: 250px;
	height: 200px;
	overflow: hidden; 
	
}

h2 { /*JUAREZ,MMdelM*/
	color: #111;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 50px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 2;
	background-color: rgb(153, 102, 153);
	color: rgb(255, 255, 204);
}

h3 { /*JUAREZ,MMdelM*/
	color: #111;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	font-weight: 300;
	line-height: 32px;
	background-color: #777799;
	color: #ffffff;
}

p { /*JUAREZ,MMdelM*/
	color: black;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 14px;
	line-height: 24px;

}

/*tp5-dejo comentadas esta lineas del codigo, para que funcione con bootstrap*/
/*----------------------------------------------------------------------------------*/
/*pagina_productos*/
/* #section-2 { SALINAS.FA */
/* 	display: inline; */
/* 	width: calc(75% - 75px); */
/* 	min-height: 500px; */
/* 	background-color: auto; */
/* 	padding: 40px; */
/* 	margin: 20px; */
/* } */

/* #section-2 ul { SALINAS.FA */
/* 	width: 80%; */
/* 	margin: auto; */
/* 	padding: 20px 0; */
/* 	display: flex; */
/* 	align-items: center; */
/* 	justify-content: space-between; */
/* 	list-style: none; */
/* 	margin: 10 20px; */
/* } */

#section-2 h3 { /*SALINAS.FA*/
	text-decoration: none;
	color: white;
	text-align: center;
	background-color: #FA8072;
	font-family: "Asap", sans-serif;
	font-size: 1.2rem;
}

/*pagina contacto*/
form { /*RAMIREZ,CD*/
	margin: 0 auto; /* Centramos el formulario */
	width: 400px; /* Sin ancho no podemos centrar el formulario */
	background-color: white; /* Color blanco para el formulario */
	padding: 20px;
	/* separamos los bordes del form del resto de elementos */
	border-radius: 10px; /* Redondeamos los bordes del form */
	background-image: repeating-radial-gradient(farthest-side at 5px 5px, #553c9a, #ee4b2b,
		#553c9a);
		color:white;
	
}

form p{
	color:white;
	
}

form div{
	background: #ffffff;
	border:none;
	border-radius: 10px;
	opacity: .4;
	font-size: 15px;
	text-align: center;
}
.ptitulo{
	color:#553c9a;
	font-weight:bold;
	text-align: center;
	font-size: 20px;
	background: white;
	border: none;
  	border-radius: 10px;
  	
}

.inputlab{
	color:#553c9a;
	font-weight:bold;
	text-align: center;
	background: white;
	border: none;
  	border-radius: 10px;
	
}

.aetiq{
	
	color:white;
	font-weight:bold;
}



input, textarea { /*RAMIREZ,CD*/
	padding: 10px;
	/* Separamos la letra del interior (contenido) en los inputs de los bordes */
	width: 100%;
	box-sizing: border-box;
	background: none;
	outline: none;
	resize: none;
	border: 0;
	font-family: 'Montserrat', sans-serif;
	transition: all .3s;
	border-bottom: 2px solid #bebed2
}

input:focus {/*RAMIREZ,CD*/
	border-bottom: 1px solid #78788c;
}

label { /*RAMIREZ,CD*/
	display: block; /* Ahora los inputs quedan debajo de los label */
	padding: 5px; /* Separando espacios internos */
}

button { /*RAMIREZ,CD*/
	width: 50%;
	margin-left: 25%;
	background-color: white;
	border-radius: 30px;
}

form ul { /*RAMIREZ,CD*/
/* 	width: 80%; */
/* 	margin: auto; */
	padding: 20px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
/* 	margin: 10 20px; */
}

form ul li a { /*RAMIREZ,CD*/
	text-decoration: none;
	color: white;
	font-family: "Asap", sans-serif;
	font-size: 1.2rem;
}

/*pagina_servicio_de_paseo*/
table { /*SALINAS.FA*/
	background-color: white;
	width: 50%;
	border-collapse: collapse;
}

thead { /*SALINAS.FA*/
	background-color: #FA8072;
	border-bottom: solid 5px;
}

th, td { /*SALINAS.FA*/
	padding: 10px;
	font-family: cooper
}

/*ESTE PARTE QUEDA EN DESUSO*/
/*tp5-dejo comentadas esta lineas del codigo, para que funcione el nav con bootstrap*/
/*----------------------------------------------------------------------------------*/
/*pagina_sucurales*/
/* #section-3 { RAMIREZ,CD */
/* 	display: inline; */
/* 	width: calc(75% - 75px); */
/* 	min-height: 500px; */
/* 	background-color: auto; */
/* 	padding: 40px; */
/* 	margin: 20px; */
/* } */

/* #section-3 h1 {RAMIREZ,CD */
/* 	text-align: center; */
/* 	background-color: orange; */
/* 	color: white; */
/* 	font-family: 'Helvetica Neue', sans-serif; */
/* 	font-size: 60px; */
/* 	font-weight: bold; */
/* 	letter-spacing: -1px; */
/* 	line-height: 2; */
/* 	text-align: center; */
/* } */

/* #section-3 ul { RAMIREZ,CD */
/* 	width: 80%; */
/* 	margin: auto; */
/* 	padding: 5px 0; */
/* 	display: flex; */
/* 	align-items: center; */
/* 	justify-content: space-between; */
/* 	list-style: none; */
/* } */

/* #section-3 ul li a { RAMIREZ,CD */
/* 	text-decoration: none; */
/* 	color: black; */
/* 	text-align: center; */
/* 	font-family: "Asap", sans-serif; */
/* 	font-size: 1.2rem; */
/* 	background-color: #FAD7A0 ; */
	
/* } */

#section-4 div ul #li-1{/*RAMIREZ,CD*/
	background: orange;
	list-style: none;
	font-family: "Asap", sans-serif;
	font-size: 1.2rem;
}
#section-4 div ul li{/*RAMIREZ,CD*/
	background:  #FAD7A0;
	list-style: none;
}

footer p { /*SALINAS,FA*/
	clear: both;
	color: white;
	background-image: repeating-radial-gradient(farthest-side at 5px 5px, #553c9a, #ee4b2b,
		#553c9a);
	text-align: center;
	font-size: 20px;
	height: 50px;
	line-height: 50px;
}

/*button nuevo,editar, eliminar*/
.button {
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display:inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
  
}

.button1 {
  background-color: #008CBA; 
  color: while; 
  border: 2px solid #008CBA;
  
}

.button1:hover {
  background-color:#addff0;
  color:  #008CBA;
}

.button2 {
  background-color: #4CAF50; 
  color: while; 
  border: 2px solid #4CAF50;
}

.button2:hover {
  background-color:#c5edc6;
  color:  #4CAF50;
}

.button3 {
  background-color: #f44336; 
  color: while; 
  border: 2px solid #f44336;
}

.button3:hover {
  background-color:#f0ada8;
  color:  #f44336;
}