<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Página de Consejos de Salud</title>
		<link th:rel="stylesheet" th:href="@{/css/estilos.css}">
		<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	</head>
	<body class="container-fluid text-center">
		<!--cabecera-->
		<header th:replace="~{layouts/header :: header}"></header>
		<!-- barra de menu -->
		<nav th:replace="~{layouts/nav :: nav}"></nav><br>
	<!-- Corrección de consejos.html -->
	
	<div class="container"> 
		<div class="row">
			<h2>Consejos de Mascotas</h2>
			<section>
				<a th:href="@{/consejo/nuevoConsejo}"><button class="button button1">NUEVO CONSEJO</button></a><br><br>
			</section>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
			<section id="section-4">
				<div th:each="consj: ${consejos}">
					<ul>
						<li id="li-1" th:text="'Consejo N°: ' + ${consj.num}"></li>
						<li id="li-1" th:text="${consj.titulo}"></li>
						<li th:text="${consj.mensaje}"></li>
					</ul>	
					<a th:href="@{/consejo/modificar/}+${consj.num}"><button class="button button2">Editar</button></a><br>
					<a th:href="@{/consejo/eliminar/}+${consj.num}"><button class="button button3">Eliminar</button></a><br><br>
				</div>
			</section>
			</div>
			<!-- en esta columna se visualizaran las imagenes -->
			<div class="d-xs-none d-sm-none d-md-block d-md-none d-lg-block col-lg-4 col-xl-4 col-xxl-4"> 
				<img th:src="@{/images/perro-feliz.jpg}" alt="perro-feliz-imagen" title="Perro Feliz" width="280" align="right" style="padding: 20px;">
				<img th:src="@{/images/malos-habitos.jpg}" alt="perro-feliz-imagen" title="Perro Feliz" width="280" align="right" style="padding: 20px;">
				<img th:src="@{/images/perro-anciano.jpg}" alt="perro-feliz-imagen" title="Perro Feliz" width="280" align="right" style="padding: 20px;">
				<img th:src="@{/images/perro-mudanza.jpg}" alt="perro-feliz-imagen" title="Perro Feliz" width="280" align="right" style="padding: 20px;">
				<img th:src="@{/images/perro-viaje.jpg}" alt="perro-feliz-imagen" title="Perro Feliz" width="280" align="right" style="padding: 20px;">
			</div>
		</div>
	</div><br>
		<!-- Anuncio -->
		<aside th:replace="~{layouts/aside :: aside}"></aside><br>
		<!-- pie de pagina -->
		<footer th:replace="~{layouts/footer :: footer}"></footer>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	</body>
</html>