<!DOCTYPE html>
	<html>
	<head>
		<meta charset="utf-8">
		<title>Página de Consejos de Salud</title>
	</head>
	<body style="margin: 0px;">
	
		<header>
			<center>
				<img alt="Logo del PetStore" title="IMG-LogoPStore" src="../static/images/logo.jpg" width="100" height="100">
			</center>
			<h1 style="text-align: center;">PetStore</h1>
			<!--menu -->
			<nav style="background-color: #f9f9f9; padding: 5px 150px;">
				<ul style="list-style:none;">
					<li style="display:inline-block; margin-right:10px;"><a href="index.html" style="text-decoration: none; color: #333333">Inicio</a></li>
					<li style="display:inline-block; margin-right:10px;"><a href="productos.html" style="text-decoration: none; color: #333333">Productos</a></li>
					<li style="display:inline-block; margin-right:10px;"><a href="consejos.html" style="text-decoration: none; color: #333333">Consejos de Salud</a></li>
					<li style="display:inline-block; margin-right:10px;"><a href="servicios_de_paseo.html" style="text-decoration: none; color: #333333">Servicio de paseos</a></li>
					<li style="display:inline-block; margin-right:10px;"><a href="sucursales.html" style="text-decoration: none; color: #333333">Sucursales</a></li>
					<li style="display:inline-block; margin-right:10px;"><a href="contacto.html" style="text-decoration: none; color: #333333">Contactanos</a></li>
				</ul>
			</nav>
			<h1 style="font-family: Arial; color: #333333; text-align: center; padding: 35px 0px; margin: 0px; background-color: #FFEA00;">Consejos de Salud para tu Mascota</h1>
		</header>
	
		<section>
		<section style="padding: 10px 150px; font-family: Arial; line-height: 1.5;">
			<article style="background-color: #f8f8f8; padding: 10px 40px 40px 40px; margin-bottom: 15px;">
				<h3 style="color: red">PERROS Felices</h3>
				<img src="../static/images/perro-feliz.jpg" alt="perro-feliz-imagen" title="Perro Feliz" width="280" align="right" style="padding: 20px;">
				<p>Te contamos algunos ejercicios cognitivos para aprender jugando y para reforzar así, el vínculo de amor y respeto con tu mascota</p>
				<p>Enseñale a tu perro habilidades caninas. Favorece su parte del pensamiento, ayuda a la resolución diaria de problemas y también a fomentar el vínculo con sus humanos.<br>Podés esneñarle ejercicios como:</p>
					<ul>
						<li>Sentado</li>
						<li>Echado</li>
						<li>Girar</li>
						<li>Trabajo de autocontrol</li>
						<li>Dar la pata</li>
					</ul>
			</article>
			<article style="background-color: #f8f8f8; padding: 10px 40px 40px 40px; margin-bottom: 15px;">
				<h3 style="color: red">Malos Hábitos = Malas Conductas</h3>
				<img src="../static/images/malos-habitos.jpg" alt="perro-feliz-imagen" title="Perro Feliz" width="280" align="right" style="padding: 20px;">
				<p>He aquí una lista de malos hábitos o prácticas que pueden ocasionar que tu perro desarrolle comportamientos no deseados.</p>
				<p><strong>Acariciarlo mientras tiene miedo.</strong> Eso solo le comunicará que estar asustado es lo correcto y que tu lo estás premiando por eso.</p>
				<p><strong>Darle probaditas de comida.</strong> Puede derivar en que tu perro se vuelva “caprichoso” para comer y rechace sus croquetas. También puede dañar su salud.</p>
				<p><strong>Usar su nombre antes o después de un correctivo.</strong> ¡Max, NO! Eso hará que relacione su nombre con un regaño o una mala experiencia y cuando quieras que acuda a tu llamado, pensará que algo hizo mal.</p>
			</article>
			<article style="background-color: #f8f8f8; padding: 10px 40px 40px 40px; margin-bottom: 15px;">
				<h3 style="color: red">¿Y si adoptás una mascota adulta?</h3>
				<img src="../static/images/perro-anciano.jpg" alt="perro-feliz-imagen" title="Perro Feliz" width="280" align="right" style="padding: 20px;">
				<p>Existen muchas protectoras en todo el país que hacen un trabajo inmenso para rescatar perros y gatos de la calle. Estos animales que fueron abandonados y sufrieron innumerables maltratos.</p>
				<p>Un perro o gato adulto tiene muchas virtudes, como por ejemplo: tienen un carácter ya formado, no van a morder tus zapatillas o arañar los sillones; son más tranquilos y no requieren tanto adiestramiento como un cachorro.</p>
				<p>Lo único que necesitan, además de agua, comida y un lugar donde dormir, es AMOR para recuperar la confianza que perdieron luego de años de sufrimiento y desarraigo. Que vos los sumes a tu familia, significa para ellos una segunda oportunidad y todas las personas que conviven con perros y gatos rescatados de la calle coinciden: <strong>cuando los adoptás, te lo agradecen para siempre</strong>.</p>			
			</article>
			<article style="background-color: #f8f8f8; padding: 10px 40px 40px 40px; margin-bottom: 15px;">
				<h3 style="color: red">Mudanzas. Consejos para que sea un éxito</h3>
				<img src="../static/images/perro-mudanza.jpg" alt="perro-feliz-imagen" title="Perro Feliz" width="280" align="right" style="padding: 20px;">
				<p>Los cambios de hogar son siempre un estres, para nosotros y para ellos. En esta nota te damos tips para que prepares a tus mascotas para el cambio, y que sea todo un éxito.</p>
				<p>Para facilitar la transición debemos:</p>
				<ul>
					<li>Mantener la rutina de tu perro al máximo y mejor que nunca (los paseos diarios y a la misma hora son vitales).</li>
					<li>Preparar el medio de transporte donde viajará y acostumbrarlo al uso de transportadora.</li>
					<li>Practicarle un examen general de salud.</li>
					<li>Hacerle una placa de identificación con la dirección de la nueva casa.</li>
					<li>No lavar los objetos de tu perro, sino trasladarlos intactos al nuevo hogar para conservar olores importantes para él.</li>
					<li>No cambiar ni renovar su cama, cobija y/o casa</li>
				</ul>
			</article>
			<article style="background-color: #f8f8f8; padding: 10px 40px 40px 40px; margin-bottom: 15px;">
				<h3 style="color: red">Consejos útiles para viajar con tu mascota</h3>
				<img src="../static/images/perro-viaje.jpg" alt="perro-feliz-imagen" title="Perro Feliz" width="280" align="right" style="padding: 20px;">
				<p>Viajar con tu mascota, puede ser una aventura increíble, o una mala experiencia para ambos.</p>
				<ul>
					<li>Si <strong>viajas en avión</strong>, es fundamental que consultes las condiciones de la aerolínea para el transporte de animales. Generalmente, solicitan certificados de vacunación, constancias de salud firmadas por un veterinario y otros documentos que debes tramitar con anticipación.</li>
					<li>Si <strong>viajas en tu propio auto</strong>, puedes adquirir algunos elementos que pueden hacer más llevadero el viaje, como una tela impermeable para proteger el asiento, arneses adaptables para los cinturones de seguridad, vasijas desechables o un trapo para limpiar la trompa de tu mascota constantemente hay perros que babean mucho.</li>
					<li>Si <strong>viajas en transporte terrestre público</strong>, es fundamental que hables con el conductor y establezcas las condiciones para transportar a tu mascota. En ocasiones te obligarán a proteger el asiento, ubicarlo en el piso, usar una jaula o alejarlo de los demás pasajeros.</li>
				</ul>
			</article>
		</section>
	</section>
	<footer>
		<p>Copyright &copy; 2023 - @PetStore - Diseñado por Grupo N° 12 – Jujuy – República Argentina</p>
	</footer>
	</body>
</html>