<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
	<meta charset="UTF-8">
	<title>Contactenos</title>
	<link rel="shortcut icon" th:href="@{../static/images/logo.jpg}">
	<link rel="stylesheet" th:href="@{/css/estilos.css}">
	</head>
	<body>
		<!--cabecera-->
		<header th:replace="~{layouts/header :: header}"></header>
		<!-- barra de menu -->
		<nav th:replace="~{layouts/nav :: nav}"></nav>
		<!-- Formulario de contacto -->
		<fieldset><br>
			<form th:action= @{/contactos/inicioContacto}>
				<p class="p ptitulo" >Contactenos</p>
				<p>CENTRAL: Av. Fuerza Aérea N°200 - B° Alto Comedero</p>
				<p>Tel: 3885 84039</p>
				<p>Lunes a Sábados de 9 a 22 hs</p>
				<ul>
					<li><a href="https://www.facebook.com/">Facebook</a></li>
					<li><a href="https://www.instagram.com/">Instagram</a></li>
					<li><a href="https://twitter.com/?lang=es">Twitter</a></li>
				</ul>
				<br>
	
				<label>Nombre:<input class="input inputlab"  type="text"
					placeholder="Ingrese su nombre"></label><br> <label>Email:<input class="input inputlab" 
					type="email" placeholder="Ingrese un email valido"></label><br>
				<label>Ciudad:<input class="input inputlab"  type="text"
					placeholder="Ingrese su ciudad"></label><br> <label>Mensaje:<textarea class="input inputlab" ></textarea></label><br>
				<button class="button button1">Enviar</button>
			</form><br>
		</fieldset>
		<!-- pie de pagina -->
		<footer th:replace="~{layouts/footer :: footer}"></footer>
	</body>
</html>