<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Contactenos</title>
<link rel="shortcut icon" href="../static/images/logo.jpg">
</head>
<body>
	<!--cabezera-->
	<header>
		<img alt="Logo del PetStore" title="IMG-LogoPStore"
			src="../static/images/logo.jpg" width="100" height="100">
		<h1>PetStore</h1>
	</header>
	<!-- barra de menu -->
	<nav>
		<ul>
			<li><a href="index.html">Inicio</a></li>
			<li><a href="prueba.html">Productos</a></li>
			<li><a href="consejos.html">Consejos de Salud</a></li>
			<li><a href="servicio_de_paseo.html">Servicio de paseos</a></li>
			<li><a href="sucursales.html">Sucursales</a></li>
			<li><a href="contacto.html">Contactanos</a></li>
		</ul>
	</nav>
	<!-- Formulario de contacto -->
	<fieldset>
		<form action="/submit-url">
			<p>Contactenos</p>
			<p>CENTRAL: Av. Fuerza Aérea N°200 - B° Alto Comedero</p>
			<p>Tel: 3885 84039</p>
			<p>Lunes a Sábados de 9 a 22 hs</p>
			<ul>
				<li><a href="https://www.facebook.com/">Facebook</a></li>
				<li><a href="https://www.instagram.com/">Instagram</a></li>
				<li><a href="https://twitter.com/?lang=es">Twitter</a></li>
			</ul>
			<hr>

			<label>Nombre:<input type="text"
				placeholder="Ingrese su nombre"></label><br> <label>Email:<input
				type="email" placeholder="Ingrese un email valido"></label><br>
			<label>Ciudad:<input type="text"
				placeholder="Ingrese su ciudad"></label><br> <label>Mensaje:<textarea></textarea></label><br>
			<button>Enviar</button>
		</form>
	</fieldset>
	<!-- pie de pagina -->
	<footer>
		<p>Copyright &copy; 2023 - @PetStore - Diseñado por Grupo N° 12 –
			Jujuy – República Argentina
	</footer>
</body>
</html>