<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
	<meta charset="UTF-8">
	<title>Servicio de Paseos</title>
	<link rel="stylesheet" th:href="@{/css/estilos.css}"> <!-- hoja de estilos -->
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
	<!--cabecera-->
		<header th:replace="~{layouts/header :: header}"></header>
		<!-- barra de menu -->
		<nav th:replace="~{layouts/nav :: nav}"></nav><br>
	<!-- formulario -->
	<form th:action="${edicion} ? @{/servicios/modificar} : @{/servicios/guardarPaseo}" th:object=${servicios} method="post">
		<p class="p ptitulo" th:text="${edicion} ? 'Modificar Servicio' : 'Agregar Servicio'"></p>
<!-- 		<label for="idPaseo">Id:</label> -->
<!-- 		<input class="input inputlab" placeholder="Ingrese Id" type="text" th:field="*{idPaseo}"/> -->
<!-- 		<div class="text-danger" th:if="${#fields.hasErrors('idPaseo')}" th:errors="*{idPaseo}"></div> -->
		<label for="dia">Dia:  </label>
			<select th:field="*{dia}">
			<option value="" selected>Seleccione una opcion</option>
			<option value="Lunes">Lunes</option>
			<option value="Martes">Martes</option>
			<option value="Miercoles">Miercoles</option>
			<option value="Jueves">Jueves</option>
			<option value="Viernes">Viernes</option>
			<option value="Sabado">Sabado</option>
		</select>
		<div class="text-danger" th:if="${#fields.hasErrors('dia')}" th:errors="*{dia}"></div>
		<br>
		<label for="horario">Horario: </label>
		<input class="input inputlab" placeholder="Ingrese Horario" type="text" th:field="*{horario}"/>
		<div class="text-danger" th:if="${#fields.hasErrors('horario')}" th:errors="*{horario}"></div>
		<label for="paseador">Paseador: </label>
		<select th:field="*{paseador}">
			<option value="" selected>Seleccione una opcion</option>
			<option value="Juan Perez">Juan Perez </option>
			<option value="Lucas Diaz">Lucas Diaz</option>
			<option value="Maria Gomez">Maria Gomez </option>
			<option value="Roberto Vazquez">Roberto Vazquez </option>
		</select>
		<div class="text-danger" th:if="${#fields.hasErrors('paseador')}" th:errors="*{paseador}"></div>
		<br>
		<!-- Boton Agregar -->
		<input class="button button1" type="submit" th:value="${edicion} ? 'Modificar' : 'Guardar'">
	</form><br>
	<!-- pie de pagina -->
	<footer th:replace="~{layouts/footer :: footer}"></footer>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>