<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Inicio</title>
		<link rel="shortcut icon" th:href="@{../static/images/logo.jpg}">
		<link rel="stylesheet" th:href="@{/css/estilos.css}">
		<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	</head>
	<body>
		<!--cabecera-->
		<header th:replace="~{layouts/header :: header}"></header>
		<!-- barra de menu -->
		<nav th:replace="~{layouts/nav :: nav} "></nav>
		<!-- secciones -->
				<section id="section-1" style="float: left; margin-right: 30%">
					<h2>Mision y Vision</h2>
					<article>
						<h3>Mision</h3>
						<p>Contribuimos a crear un mundo mejor, ayudando a amar y
							proteger a sus mascotas. Basados en nuestro equipo de trabajo somos
							solidarios socialmente, brindando la mayor cantidad de trabajo
							posible, innovando constantemente y logrando un prestigio que nos
							haga perdurar en el tiempo. Invirtiendo e innovando en proyectos
							para ampliar la estructura y seguir creciendo en otras ciudades.
							Aportando y participando solidariamente para crear una comunidad
							inclusiva y el cuidado del medio ambiente.</p>
					</article>
					<article>
						<h3>Vision</h3>
						<p>Ser una empresa moderna y sólida, líder en el país y con
							proyección internacional. Liderada por un equipo con acceso a la más
							alta calidad de capacitación y con una mirada colaborativa e
							inclusiva.</p>
					</article>
					<article>
						<img alt="Mision y Visions" title="IMG-Index"
							th:src="@{images/logo.jpg}" width="300" height="300">
					</article>
				</section>
				<!-- Anuncio -->
				<aside th:replace="~{layouts/aside :: aside}"></aside>
				<!-- pie de pagina -->
		<footer th:replace="~{layouts/footer :: footer}"></footer>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
		</body>
</html>