<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
	<meta charset="UTF-8">
	<title>servicio de paseo</title>
	<link rel="shortcut icon" th:href="@{../static/images/logo.jpg}">
	<link rel="stylesheet" th:href="@{/css/estilos.css}">
	</head>
	<body>
		<!--cabecera-->
		<header th:replace="~{layouts/header :: header}"></header>
		<!-- barra de menu -->
		<nav th:replace="~{layouts/nav :: nav}"></nav>
		
		<h2>Informacion Servicio de Paseo</h2>
		<p><a class="button button1" th:href="@{/servicios/nuevoPaseo}"><b>Agregar un Nuevo Servicio</b></a></p>
		<table border="1">
			<thead>
				<tr>
				    <th>Id</th>
					<th>Dia</th>
					<th>Horarios</th>
					<th>Paseador</th>
					<th colspan="2">Opciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="serv: ${servicio_de_paseo}">
				    <td th:text ="${serv.idPaseo}"></td>
                    <td th:text ="${serv.dia}"></td>
					<td th:text ="${serv.horario}"></td>
					<td th:text ="${serv.paseador}"></td>
					<td><a th:href="@{/servicios/modificar/}+${serv.idPaseo}">Editar</a></td>
					<td><a th:href="@{/servicios/eliminar/}+${serv.idPaseo}">Eliminar</a></td>
				</tr>
			</tbody>
		</table>
		<footer th:replace="~{layouts/footer :: footer}"></footer>
	</body>
</html>