<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Sucursales</title>
</head>
<body>
	<h1>Sucursales</h1>
	<section>
		<figure>
			<img alt="" src="../static/images/sucursalJUJUY.png" width="1000"
				height="100">
			<h2>Sucursales Jujuy</h2>
			<ul>
				<li>CASA CENTRAL 
					<ul>
						<li>Av. Fuerza Aérea N°200 - B° Alto Comedero</li>
						<li>3885 840391</li>
						<li>Lunes a Sábados de 9 a 21 hs</li>
					</ul>
				</li>
				<li>SUCURSAL LAVALLE
					<ul>
						<li>Lavalle N°222- Local A</li>
						<li>3885 840394</li>
						<li>Lunes a Sábados de 9 a 22 hs</li>
					</ul>
				</li>
				<li>SUCURSAL PALPALÁ 
					<ul>
						<li>Av. Hipólito Yrigoyen N°163 - B° Carolina</li>
						<li>3884 072167</li>
						<li>Lunes a Sábados de 9 a 13 hs - 17 a 21hs</li>
					</ul>
				</li>
			</ul>
		</figure>
		<figure>
			<img alt="" src="../static/images/sucursalSalta.png" width="1000"
				height="100">
			<h2>Sucursales Salta</h2>
			<ul>
				<li>SUCURSAL INDEPENDENCIA
					<ul>
						<li>Catamarca N° 1397 esq. Independencia</li>
						<li>3875 642182</li>
						<li>Lunes a Sábados de 9 a 21 hs</li>
					</ul>
				</li>
				<li>SUCURSAL SAN MARTIN 1
					<ul>
						<li>San Martin N° 737</li>
						<li>3874 857719</li>
						<li>Lunes a Sábados de 10 a 22 hs</li>
					</ul>
				</li>
				<li>SUCURSAL MENDOZA
					<ul>
						<li>Mendoza N° 570</li>
						<li>3875 690295</li>
						<li>Lunes a Sábados de 9 a 21hs</li>
					</ul>
				</li>
				<li>SUCURSAL SAN MARTIN 2
					<ul>
						<li>San Martin N° 868</li>
						<li>3876 134119</li>
						<li>Lunes a Sábados de 10 a 22 hs</li>
					</ul>
				</li>
			</ul>
		</figure>
	</section>
</body>
</html>