<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		</head>
	<body>
		<nav th:fragment="nav">
			<ul>
				<li><a th:href="@{/index}">Inicio</a></li>
				<li><a th:href="@{/producto}">Productos</a></li>
				<li><a th:href="@{/consejo}">Consejos de Salud</a></li>
				<li><a th:href="@{/servicios}">Servicio de paseos</a></li>
				<li><a th:href="@{/sucursales}">Sucursales</a></li>
				<li><a th:href="@{/contactos}">Contactanos</a></li>
			</ul>
		</nav>
	</body>
</html>